<div class="components_container">
    <mat-card class="agent_summary">
        <mat-card-header class="card_header">
            <mat-card-title class="task-card-title">
                <div class="title_left"><i class="material-icons card-icon">school</i><span class="task_link">Agent Application Summary</span></div>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="card_content">
            <div class="col-md-12 flex p-10">
                <div class="col-md-2L p-10">
                    <mat-card class="agent_summary">
                        <mat-card-header>
                            <mat-card-title class="sub_card_header">
                                <span class="">Enquiry</span>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="sub_card_content">
                                <div class="col-md-10 count p-10">0</div>
                                <div class="col-md-10 p-10 border_btm">enquiry</div>
                            </div>
                            <div class="sub_card_footer col-md-12 flex">
                                <div class="col-md-5L p-10 today">
                                    <div class="col-md-10">0</div>
                                    <div class="col-md-10">Today</div>
                                </div>
                                <div class="col-md-5L p-10 weekly">
                                    <div class="col-md-10">0</div>
                                    <div class="col-md-10">This Week</div>
                                </div>

                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-md-2L p-10">
                    <mat-card class="agent_summary">
                        <mat-card-header>
                            <mat-card-title class="sub_card_header">
                                <span class="">Offer Letter Processing</span>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="sub_card_content">
                                <div class="col-md-10 count p-10">0</div>
                                <div class="col-md-10 p-10 border_btm">offer letter processed</div>
                            </div>
                            <div class="sub_card_footer col-md-12 flex">
                                <div class="col-md-5L p-10 today">
                                    <div class="col-md-10">0</div>
                                    <div class="col-md-10">Today</div>
                                </div>
                                <div class="col-md-5L p-10 weekly">
                                    <div class="col-md-10">0</div>
                                    <div class="col-md-10">This Week</div>
                                </div>

                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-md-2L p-10">
                    <mat-card class="agent_summary">
                        <mat-card-header>
                            <mat-card-title class="sub_card_header">
                                <span class="">Offer Letter Issued</span>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="sub_card_content">
                                <div class="col-md-10 count p-10">0</div>
                                <div class="col-md-10 p-10 border_btm">offer letter issued</div>
                            </div>
                            <div class="sub_card_footer col-md-12 flex">
                                <div class="col-md-5L p-10 today">
                                    <div class="col-md-10">0</div>
                                    <div class="col-md-10">Today</div>
                                </div>
                                <div class="col-md-5L p-10 weekly">
                                    <div class="col-md-10">0</div>
                                    <div class="col-md-10">This Week</div>
                                </div>

                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-md-2L p-10">
                    <mat-card class="agent_summary">
                        <mat-card-header>
                            <mat-card-title class="sub_card_header">
                                <span class="">COE Processing</span>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="sub_card_content">
                                <div class="col-md-10 count p-10">0</div>
                                <div class="col-md-10 p-10 border_btm">coe processed</div>
                            </div>
                            <div class="sub_card_footer col-md-12 flex">
                                <div class="col-md-5L p-10 today">
                                    <div class="col-md-10">0</div>
                                    <div class="col-md-10">Today</div>
                                </div>
                                <div class="col-md-5L p-10 weekly">
                                    <div class="col-md-10">0</div>
                                    <div class="col-md-10">This Week</div>
                                </div>

                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-md-2L p-10">
                    <mat-card class="agent_summary">
                        <mat-card-header>
                            <mat-card-title class="sub_card_header">
                                <span class="">COE Issued</span>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="sub_card_content">
                                <div class="col-md-10 count p-10">0</div>
                                <div class="col-md-10 p-10 border_btm">coe issued</div>
                            </div>
                            <div class="sub_card_footer col-md-12 flex">
                                <div class="col-md-5L p-10 today">
                                    <div class="col-md-10">0</div>
                                    <div class="col-md-10">Today</div>
                                </div>
                                <div class="col-md-5L p-10 weekly">
                                    <div class="col-md-10">0</div>
                                    <div class="col-md-10">This Week</div>
                                </div>

                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>

            </div>

        </mat-card-content>
    </mat-card>

</div>
