.dialog_heading{
    border-bottom: 1px solid rgba(0,0,0,0.2);
    width: 400px;
}

.dialog_heading p{
    font-size: 20px;
    font-weight: 500;
}

.actions-right button{
    float: right;
    margin-right: 5px;
}

.btn-hidden{
    box-shadow: none !important;
    background-color: transparent !important;
    color: black !important;
    left: 20px;
}