<div class="col-md-12 flex_card">
    <div class="col-md-6 card_container">
        <mat-card class="task-card">
            <mat-card-header class="card_header">
                <mat-card-title class="task-card-title">
                    <div class="title_left"><i class="material-icons card-icon">task</i><span class="task_link" (click)="goTo('task')">Task List</span></div>
                    <div class="title_left center flex">
                        <mat-form-field class="mat_select_form" appearance="fill">
                            <mat-label class="pl-10">Sort By</mat-label>
                            <mat-select (selectionChange)="filterTask($event.value)">
                                <mat-option value="assigned_date">
                                    Assigned Date
                                </mat-option> <mat-option value="due_date">
                                Due Date
                            </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button class="task_add_btn" mat-button (click)="goTo('task_add')">Add Task</button>
                    </div>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class="card_content">
                <div *ngIf="!hasTask">
                    <p>No Task Assigned Right Now</p>
                </div>
                <div class="p-10" *ngIf="hasTask">
                    <div *ngFor="let task of allTasks; let i = index " class="taskLists">
                        <div class="comment" matBadge="{{taskCommentCount[i]}}" matBadgeOverlap="false">
                            <mat-icon>chat_bubble</mat-icon>
                        </div>
                        <div *ngIf="task.due_date !== null" [className]="this.isDue[i] ? 'task_due is_due' : 'task_due'" title="Due Date">{{task.due_date | date: 'dd/MM/yyyy'}}</div>
                        <div *ngIf="task.title !== null" [className]="task.due_date !== null ? 'task_text col-md-6' : 'task_text col-md-7L'">{{task.title}}</div>
                        <div *ngIf="task.added_by !== null" class="task_added"><mat-icon class="task_icon">history</mat-icon>{{task.added_by}}</div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-6 card_container">
        <app-events></app-events>
    </div>
</div>

