.institute .row{
    float: none;
}

.rotate{
    transform: rotate(270deg);
}


.institute_body{
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.institute_footer{
    border-top: 1px solid rgba(0, 0, 0, 0.13);
    padding: 10px;
    text-align: right;
}

.institute{
    border-top: 2px solid #6EC1E4;
}