<div class="components_container branch">
    <h2 class="heading">Branch Details</h2>
    <div class="branch_body">
        <div class="row">
            <div class="row col-md-5L mb-10">
                <div class="col-md-12 row border p-10">
                    <div class="col-sm-2 pt-15">
                        <span class="material-icons rotate">mediation</span>
                    </div>
                    <mat-form-field class="col-md-12">
                        <mat-label>Branch Name</mat-label>
                        <input type="text" matInput #input>
                    </mat-form-field>
                </div>
            </div>
            <div class="row col-md-5L mb-10">
                <div class="col-md-12 row border p-10">
                    <div class="col-sm-2 pt-15">
                        <span class="material-icons">home</span>
                    </div>
                    <mat-form-field class="col-md-12">
                        <mat-label>Branch Address</mat-label>
                        <input type="text" matInput #input>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="row col-md-5L mb-10">
                <div class="col-md-12 row border p-10">
                    <div class="col-sm-2 pt-15">
                    </div>
                    <mat-slide-toggle>Is Secondary Branch</mat-slide-toggle>
                </div>
            </div>
        </div>
    </div>
    <div class="branch_footer">
        <button mat-raised-button color="primary" class="mr-10">Add</button>
        <button mat-raised-button color="warn">Cancel</button>
    </div>
</div>


