<div class="components_container branch">
    <h2 class="heading">Branch Details</h2>
    <div class="branch_body">
        <form [formGroup]="addBranchForm" (ngSubmit)="addBranch()">
            <div class="row">
                <div class="row col-md-5L mb-10">
                    <div [className]="isSubmitted &&errorControl.branch_name.errors ? 'col-md-12 row border error p-10' : 'col-md-12 row border p-10'">
                        <div class="col-sm-2 pt-15">
                            <span class="material-icons rotate">mediation</span>
                        </div>
                        <mat-form-field class="col-md-12">
                            <mat-label>Branch Name</mat-label>
                            <input formControlName="branch_name" type="text" matInput #input>
                            <mat-hint class="mat-error" align="start" *ngIf="isSubmitted &&errorControl.branch_name.errors?.required">
                                Branch Name is required.</mat-hint>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row col-md-5L mb-10">
                    <div [className]="isSubmitted &&errorControl.branch_address.errors ? 'col-md-12 row border error p-10' : 'col-md-12 row border p-10'">
                        <div class="col-sm-2 pt-15">
                            <span class="material-icons">home</span>
                        </div>
                        <mat-form-field class="col-md-12">
                            <mat-label>Branch Address</mat-label>
                            <input formControlName="branch_address" type="text" matInput #input>
                            <mat-hint class="mat-error" align="start" *ngIf="isSubmitted &&errorControl.branch_address.errors?.required">
                                Branch Address is required.</mat-hint>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row col-md-5L mb-10 secondary_branch">
                    <div class="col-md-12 row border p-10">
                        <div class="col-sm-2 pt-15">
                        </div>
                        <mat-slide-toggle formControlName="is_secondary">Is Secondary Branch</mat-slide-toggle>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="branch_footer">
        <button mat-raised-button color="primary" (click)="addBranch()" class="mr-10">Add</button>
        <button mat-raised-button color="warn">Cancel</button>
    </div>
</div>


