<div mat-dialog-content class="dialog_heading flex">
    <div class="col-md-10"><p>Add Super Agent</p></div>
    <div class="col-md-2 text_right">
        <button mat-mini-fab (click)="onNoClick()" class="btn-top btn-hidden">
            <mat-icon>highlight_off</mat-icon>
        </button>
    </div>
</div>
<div class="col-md-12">
    <div class="mb-10 border_btm_disabled">
        <form [formGroup]="linkInstituteForm" (ngSubmit)="linkInstitute()">
            <mat-form-field class="col-md-12 pb-10">
                <mat-label>Agent*</mat-label>
                <mat-select formControlName="agent_id" ngDefaultControl>
                    <mat-option *ngFor="let agent of data.agents" [value]="agent._id">
                        {{agent.company_name}}({{agent.agent_no}})
                    </mat-option>
                </mat-select>
                <mat-hint class="mat-error" align="start" *ngIf="isSubmitted && errorControl.agent_id.errors?.required">
                    Agent is required.</mat-hint>
            </mat-form-field>
            <mat-form-field class="col-md-12 pb-10">
                <mat-label>Commission</mat-label>
                <input formControlName="commission" type="number" matInput #input>

            </mat-form-field>
        </form>
    </div>

</div>
<div mat-dialog-actions class="col-md-12 actions-right">
    <button mat-button [disabled]="isProcessing" (click)="onNoClick()" color="warn">Cancel</button>
    <button mat-button [disabled]="isProcessing" (click)="linkInstitute()" class="ample_button">Add</button>
</div>