
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-primary: mat-palette($mat-indigo);
$app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$app-theme: mat-light-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
    warn: $app-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

.mat-expansion-panel-header-description,
.mat-expansion-indicator::after{
  color: rgb(185,200,207);
}

:not(mat-expanded).mat-expansion-indicator{
  margin-bottom: 6px;
}

.mat-expanded .mat-expansion-indicator {
  margin-top: 13px;
}

.mat-expansion-panel-content .mat-expansion-panel-body{
  padding: 0 15px 0 15px;
}

.mat-badge-medium.mat-badge-overlap.mat-badge-after .mat-badge-content {
  right: 0px;
  top: -5px;
}

.mat-badge-medium .mat-badge-content {
  width: 18px;
  height: 19px;
  line-height: 22px;
}

.mat-tab-label[aria-selected='true']{
  background-color: #2c3b41;
  color: #f9f5f5;
}

.mat-tab-label[ng-reflect-disabled='true']{
  color: #000000;
}

.mat-form-field-appearance-legacy .mat-error{
  color: #f44336;
}

.mat-radio-group .mat-error{
  font-size: 10px;
}

.mat-drawer-container{
  display: flex !important;
}

.mat-drawer{
  position: relative !important;
}

.mat-tab-label{
  padding: 0 !important;
  margin: 0 !important;
}

.mat-tab-header-pagination {
  display: none !important;
}


.mat-card-header .mat-card-title {
   margin-bottom: 0px !important;
}
.mat-card-header-text{
  margin: 0px !important;
}

.mat-card-header-text{
  width: 100%;
}

.mat-form-field-appearance-fill .mat-form-field-infix{
  padding: 0 !important;
}
.mat-form-field-appearance-fill .mat-form-field-flex{
  padding: 0 !important;
}

.mat-select-arrow-wrapper .mat-select-arrow{
  margin: 15px 4px 0 4px ;
}

.mat-table thead{
  background: #6EC1E4 !important;
}

.mat-sort-header-arrow{
  color: white;
}
.mat-expansion-indicator{
  display: none;
}
@media only screen and (max-width: 1400px) and (min-width: 1300px) {

  .mat-tab-disabled:first-child{
    display: none !important;
  }
}

@media only screen and (max-width: 1300px) {
  .mat-expansion-indicator{
    display: none !important;
  }


}


